.masthead {
  height: 100vh;
  min-height: 500px;
  /*background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');*/
  background-image: url('../img/background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background-color:  #0c0c0c;
    color: #eee;
  
}
.masthead h1 {
	font-family: "Montserrat",sans-serif;
    color: #eee;
        /*margin-top: 35px;*/
    font-size: 68px;
    font-weight: 900;
    line-height: 1;
}
